.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #faeee7;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #ffe6e6;
  font-size: 7rem;
  color: #f54291;
}

p {
  font-size: 2rem;
  color: #f54291;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #f54291;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
